<div class="container" style="width: 500px">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 imgUp">
      <div class="caption">
        <p>Content Image</p>
      </div>
      <img id='ContentImage' class="imagePreview img-thumbnail"
        src="{{ "/assets/img/chicago.jpg" | relative_url }}">
      <label class="btn btn-secondary btn-lg thumbnail-btn">
        Choose Content<input type="file" class="uploadFile img" id="ContentInput"
          style="width: 0px;height: 0px;overflow: hidden;">
      </label>
    </div><!-- col-2 -->
    <!-- <i class="fa fa-plus imgAdd"></i> -->

    <div class="col-sm-6 imgUp">
      <div class="caption">
        <p>Style Image</p>
      </div>
      <!-- <div class="imagePreview img-thumbnail"></div> -->
      <img id='StyleImage' class="imagePreview img-thumbnail"
        src="{{ "/assets/img/candy.jpg" | relative_url }}">

      <label class="btn btn-secondary  btn-lg thumbnail-btn">
        Choose Style<input type="file" class="uploadFile img" id="StyleInput"
          style="width: 0px;height: 0px;overflow: hidden;">
      </label>
    </div><!-- col-2 -->
    <!-- <i class="fa fa-plus imgAdd"></i> -->

    <!-- The output -->
    <!-- Image zoom from: https://alt-web.com/TUTORIALS/?id=bootstrap_simple_image_zoom -->
    <div class="row justify-content-sm-center">
      <div class="col-sm-offset-3 col-sm-6">
        <!-- source: https://alt-web.com/TUTORIALS/?id=bootstrap_simple_image_zoom -->
        <!-- <div class="imagePreview thumbnail zoom result-img"></div>     -->
        <!-- <canvas id="Result" class="imagePreview img-thumbnail zoom"></canvas> -->
        <canvas id="Result" class="imagePreview img-thumbnail zoom"
          src="http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg"></canvas>

        <label  id="Stylize" class="btn btn-primary btn-lg thumbnail-btn" data-bs-toggle="tooltip"
          data-bs-placement="bottom" title="Might take 20-30s on the first try! (depends on the hardware)">
          <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Stylizing... -->
          Stylize!
        </label>
        <!-- There likely is a problem with bootstrap 3  spinners. 
        Maybe not implemented until 4? -->

        <!-- <button class="btn btn-primary" type="button" id="Stylize" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
        Stylize<input type="file" class="uploadFile img" value="Upload Photo"
          style="width: 0px;height: 0px;overflow: hidden;">
      </button> -->
      </div>
    </div>
    <!-- end output -->
  </div><!-- container -->
</div>